<style>
   .fig {
    text-align: center;}

    .text {
            text-align: center;}

    .right {
            text-align: right;}
  </style>
</head>
<p class="fig">
  <img src="images/light1.jpg"
                    width="1900" height="250" alt="Auto light"></p>

</head>
<body>
<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
<!--  <header th:insert="fragments/header.html :: header"> </header>-->
<!--  <img src="/images/java.jpg"/>-->
  <div class="right">
  <a th:href="@{/}">Home</a>

  | &nbsp;

  <a th:href="@{/userInfo}">Contacts</a>

  | &nbsp;

  <a th:href="@{/admin}">Sign in</a>

  | &nbsp;

  <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
  </div>
  <div th:replace="fragments/footer.html :: footer"></div>
</div>

